<a href="https://colab.research.google.com/github/yh000121/Py_practice/blob/main/python4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSMAD21 - Applied Data Science with Python

## Practical 4: Functional Programming

Follow the instructions to complete each of these tasks, and use the *Testing* cells to check your answer.

This set of exercises focuses on writing functional programming in Python.

This is not assessed but will help you gain practical experience for the coursework.

<hr style="border:2px solid black"> </hr>

## Exercise 1 - Palindrome

Write a function palindrome(s) to determine if a string s is a palindrome (the same backwards as forwards), returning True if it is and False otherwise. The function should ignore capitalisation (you can use the lower() method for strings for this).

In [5]:
def palindrome(x):
    x = x.lower()
    if x == x[::-1]:
        return True
    else:
        return False

In [6]:
# Testing
print(palindrome("Kayak"))  # True
print(palindrome("Python")) # False
print(palindrome("civic"))  # True

True
False
True

***
Then use **map()** to check whether each of the string in a list is Palindrome or not.

List of strings: ['Kayak', 'Python', 'civic']

Expected output: [True, False, True]

In [10]:
list(map(palindrome,['Kayak', 'Python', 'civic']))

[True, False, True]

<hr style="border:2px solid black"> </hr>

## Exercise 2 - Anagram

Write a function isAnagram(s1, s2) that accepts two strings s1 and s2, and returns True if the two strings are anagrams and False if they are not. Ensure that capital letters and spaces do not affect the string comparison.

An anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once. https://en.wikipedia.org/wiki/Anagram

In [24]:
def isAnagram(x,y):

  x = sorted(x.lower())
  y = sorted(y.lower())
  if x == y:
    return True
  else:
    return False

In [25]:
# Testing
print(isAnagram('car', 'arc'))           # True
print(isAnagram('streSsed', 'Desserts')) # True
print(isAnagram('bragg', 'grab'))        # False
print(isAnagram('holes', 'soles'))       # False

True
True
False
False

***
Then use **map()** to check whether each of the pair of strings in a list is Anagram or not.

List of strings: [ ['car', 'arc'], ['streSsed', 'Desserts'], ['bragg', 'grab'], ['holes', 'soles'] ]

Expected output: [True, True, False, False]

Hint: modify the previous isAnagram(s1, s2) function to isAnagram(p) where p is a list of a pair of strings, e.g. ['car', 'arc'].

In [26]:
def isAnagram(p):
  x,y = p
  x = sorted(x.lower())
  y = sorted(y.lower())
  if x == y:
    return True
  else:
    return False


pairs = [ ['car', 'arc'], ['streSsed', 'Desserts'], ['bragg', 'grab'], ['holes', 'soles'] ]
result = list(map(isAnagram, pairs))
print(result)  # Expected output: [True, True, False, False]

[True, True, False, False]

<hr style="border:2px solid black"> </hr>

## Exercise 3 - Filtering email addresses

Use **filter()** and **lambda** to write a statement to filter valid email address with the "@" symbol to a list *valid_emails*.

In [27]:
# Test with the following list:
emlist = ['lupita@gmail.com','chanclaATgmail.om','I lost my email','pure123@reading.ac.uk', 'notanemail', 'amy@abc.com', 'ben@abccom', 'test123@school.edu.hk']

Expected output:

['lupita@gmail.com', 'pure123@reading.ac.uk', 'amy@abc.com', 'ben@abccom', 'test123@school.edu.hk']

In [56]:
a = list(filter(lambda x : '@' in x,emlist))
print(a)

['lupita@gmail.com', 'pure123@reading.ac.uk', 'amy@abc.com', 'ben@abccom', 'test123@school.edu.hk']

***
Then use **filter()** and **lambda** to filter valid email addresses with:
- '.com' to a list *commerical_emails*, and
- '.ac' or '.edu' to a list *academic_emails*.

Expected output: <br>
commerical_emails: ['lupita@gmail.com', 'amy@abc.com'] <br>
academic_emails: ['pure123@reading.ac.uk', 'test123@school.edu.hk'] <br>

In [57]:
b = list(filter(lambda x : '.com' in x,a))
print(b)

['lupita@gmail.com', 'amy@abc.com']

In [58]:
#a = list(filter(lambda x : ('.ac' )or ('.edu') in x,a))
a = list(filter(lambda x: ('.ac') or ('.edu'), a))
print(a)

['lupita@gmail.com', 'pure123@reading.ac.uk', 'amy@abc.com', 'ben@abccom', 'test123@school.edu.hk']

<hr style="border:2px solid black"> </hr>

## Exercise 4 - List comprehension (1)

Given a dictionary consisted of vehicles and their weights in kilograms. Contruct a list of the names of vehicles with weight below 5000 kilograms. In the same list comprehension make the key names all upper case.

In [66]:
# Test with the following dictionary:
cars = {"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

Expected output:

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

In [67]:
a = [name.upper() for name, weight in cars.items() if weight < 5000]
print(a)

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

<hr style="border:2px solid black"> </hr>

## Exercise 5 - List comprehension (2)

Given a list of items with [item name, price in GBP, in stock or not]:

In [70]:
items = [
    ['detergent', 6.6, True],
    ['tooth paste', 4.8, True],
    ['olive oil', 7.3, False],
    ['rice', 26, True],
    ['wine', 15, False]
]

***
(1) Use list comprehension to print a list of item prices in USD (GBP\*1.25).

Excpected output:

[8.25, 6.0, 9.125, 32.5, 18.75]

In [76]:
out_of_stock_items = [price*1.25 for name, price, in_stock in items]

print(out_of_stock_items)

[8.25, 6.0, 9.125, 32.5, 18.75]

***
(2) Use list comprehension to print a list of item names that are out of stock.

Excpected output:

['olive oil', 'wine']

In [73]:
out_of_stock_items = [name for name, _, in_stock in items if not in_stock]

print(out_of_stock_items)

['olive oil', 'wine']

***
(3) Use list comprehension to print a list of [item name, USD price] for items that are in stock.

Excpected output:

[['detergent', 8.25], ['tooth paste', 6.0], ['rice', 32.5]]

In [75]:
out_of_stock_items = [(name, price*1.25) for name, price, in_stock in items if in_stock]

print(out_of_stock_items)

[('detergent', 8.25), ('tooth paste', 6.0), ('rice', 32.5)]

***
(4) Use list comprehension to print a list of item names that are in stock and with price>=10.

Excpected output:

['rice']

In [81]:
out_of_stock_items = [name for name, price, in_stock in items if price >= 10 and in_stock]

print(out_of_stock_items)

['rice']